<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="loginTestSuite" verbose="1" >
    <parameter name="username" value=""/>
    <parameter name="password" value=""/>


    <test name="tests">
        <packages>
            <package name="practice44" />
        </packages>
    </test>
</suite>